:root {
    --sn-stylekit-info-color: #88c0d0;
    --sn-stylekit-secondary-foreground-color: #4c566a;
    --sn-stylekit-secondary-contrast-foreground-color: #4c566a;

    --sn-stylekit-general-border-radius: 5px;

    /* Fonts */
    --sn-stylekit-base-font-size: 14px;
    --sn-stylekit-font-size-h1: 1.4rem;
    --sn-stylekit-font-size-h2: 1.2rem;
    --sn-stylekit-font-size-h3: 1.1rem;
    --sn-stylekit-font-size-h4: 1rem;
    --sn-stylekit-font-size-h5: 0.9rem;
    --sn-stylekit-font-size-h6: 0.8rem;
    --sn-stylekit-font-size-editor: 1.15rem;


    --sn-stylekit-monospace-font: 'Ubuntu Mono', courier, monospace;
    --sn-stylekit-sans-serif-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
