:root {
    --sn-stylekit-info-color: #88c0d0;
    --sn-stylekit-secondary-foreground-color: #4c566a;
    --sn-stylekit-secondary-contrast-foreground-color: #4c566a;

    --sn-stylekit-general-border-radius: 5px;

    /* Fonts */
    --sn-stylekit-base-font-size: 14px;
    --sn-stylekit-font-size-h1: 1.4rem;
    --sn-stylekit-font-size-h2: 1.2rem;
    --sn-stylekit-font-size-h3: 1.1rem;
    --sn-stylekit-font-size-h4: 1rem;
    --sn-stylekit-font-size-h5: 0.9rem;
    --sn-stylekit-font-size-h6: 0.8rem;
    --sn-stylekit-font-size-editor: 1.15rem;


    --sn-stylekit-monospace-font: 'Ubuntu Mono', courier, monospace;
    --sn-stylekit-sans-serif-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.bg-info {
    background-color: #88c0d0;
}
button:hover .bg-info {
  background-color: #c3dfe7;
}
#navigation, #navigation #navigation-content {
    background-color: #f9fafb;
}
#navigation .section-title-bar {
    color: #2e3440;
}
.text-neutral {
    color: #727a89;
}
#navigation .tag.selected {
    background-color: #fcfcfd;
}
.text-info {
    color: #88c0d0;
}
#navigation .tag>.tag-info>.title {
    color: #4c566a;
}
#items-column .content-list-item.selected {
    background-color: #f2f3f7;
}
